@import url(https://fonts.googleapis.com/css?family=Work+Sans);
/* 
.model-container{
    background-color: #EBEBEC;
}
 */

 .model-header-container{
    margin-top: 100px;
 }

.model-container{
    font-family: Work Sans;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    /* background-color: #EBEBEC; */
}

.roborecovery-header{
    margin-left: 20px;
    margin-top: 30px;
    text-align: left;
    font-weight: bold;
}

.roborecovery-title{
    font-size:5vw;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: #991A18;
    color: #991A18;
}

.our-core-tenets{
    /* margin-top: 75px;  */
    
    /* margin-left: 100px;
    margin-right: 100px; */
    margin-bottom: 75px;
    font-family: Work Sans;
    font-size: 20px;
  }

  .model-wrapper{
    font-family: Work Sans;
    /* padding-top: 30px; */
    width: 100%;
    overflow: visible;
    background-size: cover;
    background-position: center;
    background-image: url("./background3.png");
}

  .tenets-photo-one{
    min-height: 50vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("./coretenetshomepage.JPG");
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  .tenets-photo-two{
    min-height: 50vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("./twocoretenetsphoto.JPG");
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .power-of-robotics{
    padding-left: 50px;
    padding-right: 50px;
  }

  .access-for-all{
    padding-left: 50px;
    padding-right: 50px;
  }

  .row2-core-tenets{
    padding-bottom: 250px;
  }