@import url(https://fonts.googleapis.com/css?family=Work+Sans);



.roborecovery-header-homepage{
    text-align: center;
    color: #FFFFFF;
    font-family: Work Sans;
    font-weight: bolder;
    font-size: 90px;
    padding-top:80px;
}

.roborecovery-text-homepage{
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    font-family: Work Sans;
    padding-left:80px;
    padding-right:80px;
}

.homepage-background {
    padding-top: 30px;
    margin-top: 0;
    min-height: 100vh;
    width: 100%;
    opacity: .9;
    overflow: visible;
    background-size: cover;
    background-position: center;
    background-image: url("./2contactusnew.jpg");
}

.row-two-main{
    padding-top: 150px;
    margin-top: 200px;
}

/* .aboutusbutton{
    padding-left: 40px;
}

.reachusbutton{
    padding-left: 40px;
} */

.btn-xxl {
    font-size: 1.8rem;
    background-color:  #981817;
    font-family: Work Sans;
    border: #FFFFFF;
  }